a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*CORE*/

body {
    -webkit-font-smoothing: antialiased;
}

.shell {
    width: 100%;
}

.container {
    max-width: 890px;
    margin: auto;
}

.page-content {
    width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/*HEADER*/

.top-header {
    background-color: #F5F5F1;
}

.top-header-nav {
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #4d4f4f;
    float: right;
    padding-top: 2px;
    padding-bottom: 9px;
}

.top-header-nav li {
    display: inline-block;
}

.top-header-list-item {
    margin-right: 25px;
    padding-top: 12px;
}

.top-header-list-item a {
    text-decoration: none;
    color: #4d4f4f;
}

.top-header-list-item a:hover {
    color: #0F9448;
}

.phone {
    font-size: 22px;
    font-weight: 700;
}


.middle-header {
    background-color: #FFFFFF;
    height: 109px;
    width: 100%;
}

.middle-header a {
    background-image: url("../images/accomplus-logo.png");
    width: 656px;
    height: 127px;
    display: block;
    position: absolute;
    top: 17px;
}

.bottom-header {
    background-color: #0E9548;
}

.bottom-header nav {
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Myriad Pro',sans-serif;
}

.bottom-header a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.bottom-header li {
    display: inline-block;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 18px;
    letter-spacing: .5px;
}

.bottom-header li:hover {
    background-color: #097331;
}

.header-search {
    display: block;
    float: right;
    padding-top: 10px;
}

.header-search-input {
    background-color: #0E9548;
    border: none;
    border-bottom: 1px solid #fff;
    height: 30px;
}

.header-search-input::-webkit-input-placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 40px;
}

.fa-search {
    color: #fff;
}


/*FOOTER*/

footer {
    width: 100%;
    background-color: #4D4F4F;
    height: 230px;
}

.footer-image {
    background-image: url("../images/A-accomplus.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 240px;
    height: 230px;
    position: absolute;
    display: block;
    right: 0;
}

.footer-address {
    font-family: Arial,Helvetica,sans-serif;
    padding-top: 35px;
}

.footer-address-title {
    font-size: 16px;
}

.footer-address ul li {
    font-size: 15px;
    color: #9EA2A4;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: .3px;
}

.footer-address ul li h4 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.footer-address-info a {
    text-decoration: none;
    color: #9EA2A4;
}



/*HOME*/

.slider {
    height: 345px;
    width: 100%;
    background-color: orange;
}

.slider h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
}

.home-top {
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
}

.home-top-grey {
    width: 100%;
    height: 25px;
    background-color: #F5F5F1;
    position: absolute;
    top: 0;
}

.home-top-text {
    width: 66%;
    padding: 75px 0px;
}

.home-top-text h1 {
    font-size: 40px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #4d4f4f;
    padding-bottom: 25px;
}

.home-top-text p {
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    color: #797c7d;
    line-height: 30px;
}

.home-bottom {
    width: 100%;
    background-color: #F5F5F1;
}

.home-bottom-container {
    width: 100%;
    padding: 50px 0px;
}

.home-bottom-box {
    position: relative;
    display: inline-block;
    height: 240px;
    width: 280px;
    border: 1px solid #BABDBE;
    margin: 0 5px;
    border-radius: 2px;
    vertical-align: top;
}

.home-bottom-icon {
    position: absolute;
    background-color: #F5F5F1;
    width: 60px;
    top: -22px;
    text-align: center;
    margin: 0 109px;
}

.home-bottom-box-title {
    position: absolute;
    width: 100%;
    padding-top: 50px;
}

.home-bottom-box-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 85px;
}

.home-bottom-box-link {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 40px;
}

.home-bottom-box-title h2 {
    width: 60%;
    font-size: 24px;
    color: #4d4f4f;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.home-bottom-box-text p {
    width: 80%;
    font-size: 15px;
    color: #797c7d;
    font-family: 'Open Sans',sans-serif;
    line-height: 25px;
}

.home-bottom-box-link h5 {
    width: 100%;
    font-family: Vollkorn,serif;
    font-size: 14px;
    text-transform: uppercase;
}

.home-bottom-box-title h2, .home-bottom-box-text p, .home-bottom-box-link h5 {
    text-align: center;
    margin: 0 auto;
}

.home-bottom-box-link h5 a {
    color: #4d4f4f;
    text-decoration: none;
    border-bottom: 1px solid #AED139;
    padding-bottom: 4px;
}

.home-bottom-box-link h5 a:hover, .home-bottom-split-boxes-link h5 a:hover {
    border-bottom: none;
}

.home-bottom-white {
    height: 15px;
    width: 100%;
    background-color: #FFFFFF;
}

.home-bottom-split-boxes {
    display: inline-block;
    margin: 0 5px;
    height: 240px;
    width: 280px;
}

.home-bottom-split-boxes-top {
    width: 280px;
    height: 65px;
    border: 1px solid #BABDBE;
    margin-bottom: 38px;
    border-radius: 2px;
    position: relative;
    vertical-align: top;
}

.home-bottom-split-boxes-bottom {
    width: 280px;
    height: 135px;
    border: 1px solid #BABDBE;
    border-radius: 2px;
    position: relative;
    vertical-align: top;
}

.home-bottom-split-boxes-top .home-bottom-split-boxes-title {
    position: absolute;
    top: -13px;
    width: 170px;
    background-color: #F5F5F1;
    left: 55px;
}

.home-bottom-split-boxes-top .home-bottom-split-boxes-link, .home-bottom-split-boxes-bottom .home-bottom-split-boxes-link {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 15px;
}

.home-bottom-split-boxes-bottom .home-bottom-split-boxes-title {
    position: absolute;
    top: -13px;
    width: 150px;
    background-color: #F5F5F1;
    left: 66px;
}

.home-bottom-split-boxes-title h2 {
    font-size: 24px;
    color: #4d4f4f;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.home-bottom-split-boxes-link h5 {
    width: 100%;
    font-family: Vollkorn,serif;
    font-size: 14px;
    text-transform: uppercase;
}

.home-bottom-split-boxes-link h5 a {
    color: #4d4f4f;
    text-decoration: none;
    border-bottom: 1px solid #AED139;
    padding-bottom: 4px;
}

.home-bottom-split-boxes-title h2, .home-bottom-split-boxes-link h5 {
    text-align: center;
    margin: 0 auto;
}


/*COMPLIANCE*/

.compliance-text {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 66%;
}

.compliance-text h3 {
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: #4d4f4f;
    font-weight: 700;
    padding-bottom: 20px;
}

.compliance-text p {
    padding-bottom: 20px;
}

.compliance-categories {
    padding-bottom: 45px;
}

.compliance-box {
    position: relative;
    height: 215px;
    width: 230px;
    border-bottom: 10px solid #0F9448;
    border-top: 10px solid #AED139;
    border-left: 1px solid #e8e8e3;
    border-right: 1px solid #e8e8e3;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    vertical-align: top;
}

.compliance-box-title {
    position: absolute;
    width: 100%;
    padding-top: 25px;
}

.compliance-box-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 75px;
}

.compliance-box-link {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 25px;
}

.compliance-box h4 {
    width: 70%;
    font-size: 24px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #4d4f4f;
    text-transform: uppercase;
}

#compliance-box-text {
    width: 90%;
    color: #797c7d;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.compliance-box h5 {
    width: 60%;
    font-size: 14px;
    color: #4d4f4f;
    font-family: Vollkorn,serif;
    text-transform: uppercase;
}

.compliance-box h5 a {
    color: #4d4f4f;
    text-decoration: none;
}

.compliance-box h5 a:hover {
    border-bottom: 1px solid #4d4f4f;
    padding-bottom: none;
}


.compliance-box h4, .compliance-box p, .compliance-box h5 {
    text-align: center;
    margin: 0 auto;
}


/*BANNER*/

.banner {
    width: 100%;
    background-color: #097331;
    height: 240px;
    position: relative;
}

.black-rhombus {
    position: absolute;
    width: 100px;
    height: 225px;
    -webkit-transform: skew(-35deg);
    background-color: #0F9448;
    right: 79px;
    z-index: 12;
    top: 15px;
}

.orange-rectangle {
    position: absolute;
    width: 200px;
    height: 15px;
    background-color: #0F9448;
    right: 0px;
    z-index: 13;
}

.banner-rhombus {
    position: absolute;
    width: 240px;
    height: 240px;
    -webkit-transform: skew(-35deg);
    background-color: #0F9448;
    right: 84px;
}

.banner-text {
    padding-top: 50px;
}

.banner h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 100;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 25px;
}

.banner p {
    font-size: 18px;
    color: #f5f5f1;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: .3px;
}



/*ABOUT*/

.banner-text-about {
    padding-top: 10px;
}

.banner-text-about p {

    line-height: 28px;
}

.page-content p {
    font-size: 18px;
    line-height: 1.56;
    font-family: 'Open Sans',sans-serif;
    color: #797c7d;
}

.about-text {
    padding-top: 25px;
    width: 70%;
    padding-bottom: 70px;
}

.about-profiles {
    width: 100%;
}

.about-profiles li {
    border-bottom: 10px solid #AED139;
    margin-bottom: 30px;
}

.about-profiles-image {
    background-image: url("../images/Steve-Olson.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 220px;
    height: 265px;
    display: inline-block;
    margin-bottom: -3px;
}

.about-profiles-text {
    display: inline-block;
    width: 71%;
    padding-left: 30px;
    vertical-align: top;
    padding-top: 15px;
}

.about-profiles-text h1 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #4d4f4f;
    font-size: 28px;
    padding-bottom: 5px;
}

.about-profiles-text h2 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    color: #4d4f4f;
    font-size: 20px;
    padding-bottom: 20px;
}

.about-profiles-text p {
    padding-bottom: 20px;
}

.about-profiles-text a {
    font-family: Vollkorn,serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #4d4f4f;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #AED139;
}

.about-profile-text-bottom {
    display: inline-block;
    padding-right: 20px;
}

.about-profiles-text a:hover {
    border-bottom: none;
}


