
.main-slider {
    width: 100%;
    height: 350px;
    position: relative;
}

.slide-one {
    background-image: url("../images/main-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-one-inner {
    display: inline-block;
    padding-top: 97px;
    padding-left: 84px;
}

.slide-one-inner h1 {
    font-size: 60px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #0f9448;
    margin-bottom: 10px;
}

.slide-one-inner p {
    font-size: 18px;
    color: #4d4f4f;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 40px;
    width: 69%;
    line-height: 29px;
}

.login-button {
    display: inline-block;
    vertical-align: middle;
    font: 15px 'Open Sans',sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #4d4f4f;
    text-decoration: none;
    border-radius: 5px;
    line-height: 35px;
    height: 35px;
    border: 1px solid #4d4f4f;
    padding: 0 40px;
}

.login-button:hover {
    background-color: #4D4F4F;
    color: #fff;
    text-decoration: none;
}

.slide-two {
    background-image: url("../images/second-banner-correct.png.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-two-inner {
    display: inline-block;
    padding-top: 50px;
    padding-left: 25px;

}

.slide-two-inner h1 {
    font-size: 60px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #fff;
    width: 50%;
    width: 60%;
    margin-bottom: 25px;
}

.slide-two-inner p {
    color: #fff;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    line-height: 23px;
    margin-bottom: 20px;
}

.explore-services-button {
    display: inline-block;
    vertical-align: middle;
    font: 15px 'Open Sans',sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    line-height: 35px;
    height: 35px;
    border: 1px solid #fff;
    padding: 0 40px;
}

.explore-services-button:hover {
    background-color: #4D4F4F;
    color: #fff;
    text-decoration: none;
}

.slide-three {
    background-image: url("../images/third-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#fix-width {
    width: 80%;
}

#fix-button {
    padding: 0 18px;
}

.slide-four {
    background-image: url("../images/fourth-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-four-inner {
    display: inline-block;
    padding-top: 50px;
    padding-left: 25px;
}

.slide-four-inner h1 {
    font-size: 60px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #333;
    width: 57%;
    margin-bottom: 15px;
}

.slide-four-inner p {
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 23px;
    margin-bottom: 20px; 
}

.touch-button {
    display: inline-block;
    vertical-align: middle;
    font: 15px 'Open Sans',sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    line-height: 35px;
    height: 35px;
    border: 1px solid #333;
    padding: 0 10px;
}

.touch-button:hover {
    background-color: #4D4F4F;
    color: #fff;
    text-decoration: none;
}

.prev-button {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 130px;
    color: white;
    opacity: .5;
}

.next-button {
    position: absolute;
    z-index: 100;
    top: 50%;
    color: white;
    opacity: .5;
    right: 0;
    padding-right: 130px;
}

.prev-button:hover, .next-button:hover {
    cursor: pointer;
}

.home-top {
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
}

.home-top-grey {
    width: 100%;
    height: 25px;
    background-color: #F5F5F1;
    position: absolute;
    top: 0;
}

.home-top-text {
    width: 66%;
    padding: 75px 0px;
    display: inline-block;
}

.home-top-text h1 {
    font-size: 40px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #4d4f4f;
    padding-bottom: 25px;
}

.home-top-text p {
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    color: #797c7d;
    line-height: 30px;
}

.home-top-slider {
    width: 24%;
    height: 185px;
    float: right;
    margin-top: 135px;
}

.home-top-slider-box {
    position: relative;
    width: 100%;
}

.home-top-slider-title, .home-top-slider-text, .home-top-slider-link {
    width: 100%;
    position: absolute;
}

.home-top-slider-title {
    border-bottom: 2px solid #E3E5E5;
}

.home-top-slider-text {
    padding-top: 40px;
}

.home-top-slider-link {
    padding-top: 115px;
}

.home-top-slider-title h1 {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-size: 20px;
    font-family: Vollkorn,serif;
    font-weight: 400;
    color: #4d4f4f;
    text-transform: uppercase;
    padding-bottom: 18px;
}

.home-top-slider-text p {
    margin: 0 auto;
    text-align: center;
    width: 99%;
    font-size: 15px;
    color: #797c7d;
    font-family: 'Open Sans',sans-serif;
    line-height: 25px;
}

.home-top-slider-link h5 {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-family: Vollkorn,serif;
    font-size: 14px;
    text-transform: uppercase;
}

.home-top-slider-link h5 a {
    color: #4d4f4f;
    text-decoration: none;
    border-bottom: 1px solid #AED139;
    padding-bottom: 4px;
}

.small-slider .swiper-slide {
    visibility: hidden;
}

.small-slider .swiper-slide-active {
    visibility: visible;
}

.home-bottom {
    width: 100%;
    background-color: #F5F5F1;
}

.home-bottom-container {
    width: 100%;
    padding: 50px 0px;
}

.home-bottom-box {
    position: relative;
    display: inline-block;
    height: 240px;
    width: 280px;
    border: 1px solid #BABDBE;
    margin: 0 5px;
    border-radius: 2px;
    vertical-align: top;
}

.home-bottom-icon {
    position: absolute;
    background-color: #F5F5F1;
    width: 60px;
    top: -22px;
    text-align: center;
    margin: 0 109px;
}

.home-bottom-box-title {
    position: absolute;
    width: 100%;
    padding-top: 50px;
}

.home-bottom-box-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 85px;
}

.home-bottom-box-link {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 40px;
}

.home-bottom-box-title h2 {
    width: 60%;
    font-size: 24px;
    color: #4d4f4f;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.home-bottom-box-text p {
    width: 80%;
    font-size: 15px;
    color: #797c7d;
    font-family: 'Open Sans',sans-serif;
    line-height: 25px;
}

.home-bottom-box-link h5 {
    width: 100%;
    font-family: Vollkorn,serif;
    font-size: 14px;
    text-transform: uppercase;
}

.home-bottom-box-title h2, .home-bottom-box-text p, .home-bottom-box-link h5 {
    text-align: center;
    margin: 0 auto;
}

.home-bottom-box-link h5 a {
    color: #4d4f4f;
    text-decoration: none;
    border-bottom: 1px solid #AED139;
    padding-bottom: 4px;
}

.home-bottom-box-link h5 a:hover, .home-bottom-split-boxes-link h5 a:hover, .home-top-slider-link h5 a:hover {
    border-bottom: none;
}

.home-bottom-white {
    height: 15px;
    width: 100%;
    background-color: #FFFFFF;
}

.home-bottom-split-boxes {
    display: inline-block;
    margin: 0 5px;
    height: 240px;
    width: 280px;
}

.home-bottom-split-boxes-top {
    width: 280px;
    height: 65px;
    border: 1px solid #BABDBE;
    margin-bottom: 38px;
    border-radius: 2px;
    position: relative;
    vertical-align: top;
}

.home-bottom-split-boxes-bottom {
    width: 280px;
    height: 135px;
    border: 1px solid #BABDBE;
    border-radius: 2px;
    position: relative;
    vertical-align: top;
}

.home-bottom-split-boxes-top .home-bottom-split-boxes-title {
    position: absolute;
    top: -13px;
    width: 170px;
    background-color: #F5F5F1;
    left: 55px;
}

.home-bottom-split-boxes-top .home-bottom-split-boxes-link, .home-bottom-split-boxes-bottom .home-bottom-split-boxes-link {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 15px;
}

.home-bottom-split-boxes-bottom .home-bottom-split-boxes-title {
    position: absolute;
    top: -13px;
    width: 150px;
    background-color: #F5F5F1;
    left: 66px;
}

.home-bottom-split-boxes-title h2 {
    font-size: 24px;
    color: #4d4f4f;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.home-bottom-split-boxes-link h5 {
    width: 100%;
    font-family: Vollkorn,serif;
    font-size: 14px;
    text-transform: uppercase;
}

.home-bottom-split-boxes-link h5 a {
    color: #4d4f4f;
    text-decoration: none;
    border-bottom: 1px solid #AED139;
    padding-bottom: 4px;
}

.home-bottom-split-boxes-title h2, .home-bottom-split-boxes-link h5 {
    text-align: center;
    margin: 0 auto;
}